* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #130311;
    color: rgb(240, 240, 240);
}

.content {
    height: fit-content;
}

/* LOADER ANIMATION */
/* TAKES 1500ms */
#loader {
    margin: calc( (100vh - 100px) / 2 ) auto;

    width: 100px;
    aspect-ratio: 1;
    display: flex;
    --c1:linear-gradient(#3B0086 0 0);
    --c2:linear-gradient(#EA7AF4 0 0);
    --s:calc(100%/3) calc(100%/3);
    background:
      var(--c1) 0   0 ,var(--c2) 50% 0   ,var(--c1) 100% 0,
      var(--c2) 0  50%,                   var(--c2) 100% 50%,
      var(--c1) 0 100%,var(--c2) 50% 100%,var(--c1) 100% 100%;
    background-repeat: no-repeat;
    animation: l8-0 1.5s infinite alternate;
  }
#loader:before {
    content: "";
    width: calc(100%/3);
    height: calc(100%/3);
    background: #60B99A;
    animation: inherit;
    animation-delay: 0s; 
    animation-name: l8-1;
}
@keyframes l8-0 {
      0%,12.49%   {background-size: var(--s),0 0     ,0 0     ,0 0     ,0 0     ,0 0     ,0 0     ,0 0     }
      12.5%,24.9% {background-size: var(--s),var(--s),0 0     ,0 0     ,0 0     ,0 0     ,0 0     ,0 0     }
      25%,37.4%   {background-size: var(--s),var(--s),var(--s),0 0     ,0 0     ,0 0     ,0 0     ,0 0     }
      37.5%,49.9% {background-size: var(--s),var(--s),var(--s),0 0     ,var(--s),0 0     ,0 0     ,0 0     }
      50%,61.4%   {background-size: var(--s),var(--s),var(--s),0 0     ,var(--s),0 0     ,0 0     ,var(--s)}
      62.5%,74.9% {background-size: var(--s),var(--s),var(--s),0 0     ,var(--s),0 0     ,var(--s),var(--s)}
      75%,86.4%   {background-size: var(--s),var(--s),var(--s),0 0     ,var(--s),var(--s),var(--s),var(--s)}
      87.5%,100%  {background-size: var(--s),var(--s),var(--s),var(--s),var(--s),var(--s),var(--s),var(--s)}
}
@keyframes l8-1 {
    0%,
    5%    {transform: translate(0   ,0   )}
    12.5% {transform: translate(100%,0   )}
    25%   {transform: translate(200%,0   )}
    37.5% {transform: translate(200%,100%)}
    50%   {transform: translate(200%,200%)}
    62.5% {transform: translate(100%,200%)}
    75%   {transform: translate(0   ,200%)}
    87.5% {transform: translate(0   ,100%)}
    95%,
    100%  {transform: translate(100%,100%)}
}

#loaded {
    display: none;
}

#calendar-container {
    width: 1600px;
    height: 850px;
    background-color: rgb(233, 233, 233);
    border-radius: 20px;
    margin: 44px auto 0 auto;
    animation: 300ms ease-out 0s 1 calendar-appearance;
}

@keyframes calendar-appearance {
    0% {
        margin-top: 69px;
        width: 1500px;
        height: 800px;
        opacity: 0%;
    }
    100% {
        margin-top: 44px;
        height: 850px;
        width: 1600px;
        opacity: 100%;
    }
}